.nav {
  width: 100vw;
  background-color: rgb(150, 187, 250);
}
.navbar {
}
.navbar-item {
  color: rgb(247, 246, 242);
  margin: 3px 15px 0px 0;
  font-size: medium;
}
.navbar-item:hover {
  color: green;
  text-decoration: none;
}
